body {
  background: linear-gradient(white, white, azure);
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: larger;
}
nav {
  color: azure;
  background: linear-gradient(rgb(6, 109, 134), rgb(0, 62, 78));
  display: flex;
  height: 7vh;
}
nav div {
  display: flex;
  align-items: center;
  flex: 50%;
}
nav div.left {
  padding-left: 100px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
}
nav ul li a {
  font-size: x-large;
  color: azure;
  text-decoration: none;
  padding: 30px;
}
nav .left ul li a:hover {
  text-shadow: 0px 0px 10px rgb(255, 0, 149);
  color: rgb(255, 255, 255);
}
nav img {
    border-left: 3px solid azure;
    border-right: 3px solid azure;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
  }
nav div.right {
  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
}
nav .right a {
  color: azure;
  background-color: linear-gradient(rgb(6, 109, 134), rgb(0, 62, 78));
  border-radius: 10px;
  border: 3px solid azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  transition: 0, 5s;
}
nav .right a:hover {
  background-color: azure;
  color: rgb(0, 62, 78);
}

/* .navbar {
    height: 7vh;
} */

.container-fluid {
  height: 93vh;
}

.container-form {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  width: 400px;
  color: rgb(255, 255, 255);
  margin: 5% auto;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(rgb(0, 90, 121), rgb(0, 62, 78));
  box-shadow: 0px 0px 5px rgb(0, 39, 53);
}

.bg-color {
  background: linear-gradient(rgb(6, 109, 134), rgb(0, 62, 78));
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
}

.text-color {
  color: azure !important;
}
